
@import url('./color.css');

.App {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  text-align: center;
  
 
  
}

h1{

	color: var(--font-color);
}

img{
	display: block;
	max-width: 100%;
	margin: 0 auto;
	
}

.themeChange{
	border: 2px solid #000;
	border-radius: 30px;
	padding: 10px 30px;
	background-color: var(--elements-color);
	outline: 0;
	font-weight: bold;
	text-transform: uppercase;
	cursor: pointer;
	transition: 200ms all ease;
}



ul > li{

	list-style: none;
	
}

.addPokemons{

	margin-inline: auto;
	border: 2px solid #000;
	border-radius: 30px;
	padding: 10px 30px;
	background-color: var(--elements-color);
	outline: 0;
	font-weight: bold;
	text-transform: uppercase;
	cursor: pointer;
	transition: 200ms all ease;
	
}

.themeChange:hover , .addPokemons:hover{

	background-color: #000;
	color: #fff;
}

#pokemon-div{

	border: 2px solid #000;
	margin: 20px auto;
	width: 70%;
	max-width: 1000px;
	border-radius: 20px;
	background-color: var(--elements-color);
	cursor: pointer;
	
	
	
}

#pokemon-div.extra{

   padding-bottom: 50px;
}


.pokemonName{

	font-weight: bold;
	text-transform: uppercase;
}

.detailsDiv{
	display: block;
}

.detailsDiv.hidden{
	
	display: none;
}






