

.lighttheme{

	--main-background: rgb(247, 232, 213);
	--font-color: #000;
	--elements-color: rgb(230, 189, 136);
}

.darktheme{

	--main-background: rgb(117, 70, 9);
	--font-color: #fff;
	--elements-color: rgb(224, 141, 32);
}
	


